<h3>agregar contacto</h3>
<form method = "post" action="/contactos/agregar">
    <input type="text" name = "nombre" placeholder="Agregar Nombre">
    <input type="text" name = "apellido" placeholder="Agregar Apellido">
    <input type="submit" value="Agregar">
</form>
