body {
    background-image: url(fondo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
 }

 form {
    margin: auto;
    background: rgba(46, 133, 142, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}